@model ImageGallery.Models.EditImageModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Image Overview</h1>
    </div>
</div>
<div class="row" ng-controller="adminController">
    <div class="col-md-12">
        <p class="text-right">
            <button class="btn btn-primary" id="saveall">Save all</button>
        </p>

        <div class="panel panel-default" ng-repeat="image in images">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <p><img ng-src="{{image.dataurl}}" alt="" style="width:200px; height:auto; margin-right: 10px;"></p>
                        <p><strong>Name: {{image.name}}</strong> <br />Size: {{image.size}} <br />Type: {{image.type}}</p>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <label for="title_{{$index}}">Title:</label><br />
                            <input id="title_{{$index}}" type="text" ng-model="image.title" class="form-control" />

                        </p>
                        <p>
                            <label for="desc_{{$index}}">Description:</label><br />
                            <textarea id="desc_{{$index}}" class="form-control" ng-model="image.desc"></textarea>
                        </p>
                    </div>
                    <div class="col-md-1 bottom-right">
                        <button ng-click="save(image)" class="btn btn-xs btn-primary" id="saveitem_{{$index}}" style="width: 100%;margin-bottom: 5px;">Save</button>
                        <button ng-click="delete(image)" class="btn btn-xs btn-default" id="deleteitem_{{$index}}" style="width: 100%;margin-bottom: 5px;">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-right">
            <button ng-click="saveall()" class="btn btn-primary" id="saveall">Save all</button>
        </p>
    </div>
</div>

